[submodule "host/i80/kernel/4.19.0-schedlog/src"]
	path = host/i80/kernel/schedlog/src
	url = https://github.com/carverdamien/SchedLog
	branch = SchedLog
[submodule "host/i80/kernel/ipanema/src"]
	path = host/i80/kernel/ipanema/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = linux-4.19-ipanema
[submodule "host/i80/kernel/ipanema/compiler"]
	path = host/i80/kernel/ipanema/compiler
	url = git@gitlab.inria.fr:ipanema/compiler.git
	branch = master
[submodule "host/i80/kernel/sched-freq/src"]
	path = host/i80/kernel/sched-freq/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/sched-freq
[submodule "host/i80/kernel/pull-back/src"]
	path = host/i80/kernel/pull-back/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/pull-back
[submodule "host/i80/kernel/local/src"]
	path = host/i80/kernel/local/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/local
