[submodule "host/i80/kernel/4.19.0-schedlog/src"]
	path = host/i80/kernel/schedlog/src
	url = https://github.com/carverdamien/SchedLog
	branch = SchedLog
[submodule "host/i80/kernel/ipanema/src"]
	path = host/i80/kernel/ipanema/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = linux-4.19-ipanema
[submodule "host/i80/kernel/ipanema/compiler"]
	path = host/i80/kernel/ipanema/compiler
	url = git@gitlab.inria.fr:ipanema/compiler.git
	branch = master
[submodule "host/i80/kernel/sched-freq/src"]
	path = host/i80/kernel/delayed-placement/src
	url = git@gitlab.inria.fr:ipanema/frequency-kernel.git
	branch = 5.4-delayed-placement
[submodule "host/i80/kernel/pull-back/src"]
	path = host/i80/kernel/pull-back/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/pull-back
[submodule "host/i80/kernel/local/src"]
	path = host/i80/kernel/local/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/local
[submodule "host/i80/kernel/local-light/src"]
	path = host/i80/kernel/local-light/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/local-light
[submodule "host/i80/kernel/no-preempt-wakeup/src"]
	path = host/i80/kernel/no-preempt-wakeup/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/no_preempt_wakeup
[submodule "host/redha/kernel/ipanema/src"]
	path = host/redha/kernel/ipanema/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = linux-4.19-ipanema
[submodule "host/redha/kernel/local/src"]
	path = host/redha/kernel/local/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/local
[submodule "host/redha/kernel/local-light/src"]
	path = host/redha/kernel/local-light/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/local-light
[submodule "host/i80/kernel/schedule/src"]
	path = host/i80/kernel/schedule/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = newschedlogevent/schedule
[submodule "host/redha/kernel/sched-freq/src"]
	path = host/redha/kernel/sched-freq/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/sched-freq
[submodule "host/redha/kernel/pull-back/src"]
	path = host/redha/kernel/pull-back/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/pull-back
[submodule "monitoring/perf/FlameGraph"]
	path = monitoring/perf/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "host/redha/kernel/pull-back-print/src"]
	path = host/redha/kernel/pull-back-print/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/pull-back-print
[submodule "host/redha/kernel/pull-back-no-freq/src"]
	path = host/redha/kernel/pull-back-no-freq/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/pull-back-no-freq
[submodule "host/i80/kernel/local-freq-base/src"]
	path = host/i80/kernel/local-freq-base/src
	url = git@gitlab.inria.fr:ipanema/ipanema-kernel.git
	branch = patch/local-freq-base
[submodule "host/i80/kernel/lp/src"]
	path = host/i80/kernel/lp/src
	url = https://github.com/carverdamien/SchedLog
[submodule "host/latitude/kernel/lp/src"]
	path = host/latitude/kernel/lp/src
	url = git@gitlab.inria.fr:ipanema/frequency-kernel.git
	branch = 5.4-local-placement
[submodule "host/latitude/kernel/delayed-placement/src"]
	path = host/latitude/kernel/delayed-placement/src
	url = git@gitlab.inria.fr:ipanema/frequency-kernel.git
	branch = 5.4-delayed-placement
[submodule "host/latitude/kernel/local-light/src"]
	path = host/latitude/kernel/local-light/src
	url = git@gitlab.inria.fr:ipanema/frequency-kernel.git
	branch = 5.4-local-light
[submodule "host/latitude/kernel/local/src"]
	path = host/latitude/kernel/local/src
	url = git@gitlab.inria.fr:ipanema/frequency-kernel.git
	branch = 5.4-local
[submodule "host/redha/kernel/delayed-placement/src"]
	path = host/redha/kernel/delayed-placement/src
	url = git@gitlab.inria.fr:ipanema/frequency-kernel.git
	branch = 5.4-delayed-placement
[submodule "host/redha/kernel/lp/src"]
	path = host/redha/kernel/lp/src
	url = git@gitlab.inria.fr:ipanema/frequency-kernel.git
	branch = 5.4-local-placement
[submodule "host/redha/kernel/5.4/src"]
	path = host/redha/kernel/5.4/src
	url = git@gitlab.inria.fr:ipanema/frequency-kernel.git
	branch = 5.4
